<!DOCTYPE html>
    <html>
        <head>
            <div align="right">
                <form action="signIn.html">
                    <button type="submit" class="btn btn-danger">Sign In</button>
                </form>
            </div>
            <title>Lindr.com</title>    
            
            <!-- Links BootStrap and Main.css-->
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
                <link rel="stylesheet" href="main.css">

        </head>
        <body>
            <header>
                <nav class="navbar">
                    <ul>
                        <div class="myPanel">
                            <div class="heading">
                                <li><h2>Lindr</h2></li>
                                <li class="body">
                                    <a href="#">Home</a>
                                    <a href="#">Help</a>
                                    <a href="#">tutor</a>
                                    <a href="#">students</a>
                                    <a href="#">Teachers</a>
                                </li>
                                <li>
                                    <nav class="navbar navbar-light">
                                        <form class="form-inline">
                                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                        <button class="btn btn-outline-success my-2 my-sm-0 btn-light" type="submit">Search</button>
                                        </form>
                                    </nav>
                                </li>
                            </div>
                        </div>
                    </ul>
                </nav>
            </header>
        <!-- This is the Navigation Bar -->
                
        <!-- Panel -->
        <div class="page">
            <div>
                <h1>Welcome to Lindr</h1>
                <div class="page" style="background: #0E9B35; padding: 1px 1px;">

                </div>
            </div>
        </div>






        <!-- Importing Java Scripts and Links Main.js-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <script src="main.js"></script>
        </body>
    </html>