<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="container">
    <form method="post">
        <div>
            <p align="center">
                LHS CONNECTIONS - LOGIN
            </p>
        </div>
        <div>
            <p align="center">
                <label id="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required="required"/>
            </p>
        </div>
        <div>
            <p align="center">
                <label id="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required="required"/>
            </p>
        </div>
        <p align="center">
            <button type="submit">Login</button>
        </p>
        <div>
            <p align = "center">
                <a href = "/create">Don't have an account?</a>
            </p>
        </div>
    </form>
</div>
</body>
</html>