<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="container">
    <label id="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required="required"/>

    <label id="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required="required"/>

    <button type="submit" formaction="post">Login</button>
    <label>
        <input type="checkbox" checked="checked" name="remember"/> Remember me
    </label>
</div>
</body>
</html>