<!DOCTYPE html>
<html>
    <head>
        <!-- Links BootStrap and Main.css-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="main.css">
    </head>

    <body>
        <!-- White Panel -->
        <div class="login" align="center">
            
            <!-- Back Button -->
            <div align="left" style="margin: 1%;">
                <form action="home.html">
                    <button type="submit" class="btn btn-primary">Back</button>
                </form>
            </div>

            <!-- Green Panel -->
            <div class="field">
                <div class="heading">Login</div>
                <p></p>
                <p align="left">Type Lindr Username</p>

                <!-- Input Username Box -->
                <div class="input-group mb-3">
                        <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Username:</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <p align="left">Type Lindr Password</p>
                <!-- Input Password Box -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Password:</span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                </div>

                <!-- Login Buttons -->
                <button type="button" class="btn btn-outline-success">Success</button>
                <button type="button" class="btn btn-outline-primary">Forgot?</button>
                <p></p>
                <p>By your boi Sam</p>
            </div>

        <!-- Importing Java Scripts and Links Main.js-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <script src="main.js"></script>
    </body>
</html>