
   header h1
   {
       margin: 0;
       display: inline;
       font-size: 400%;
       padding: 0 0 0 10px;
       -webkit-text-stroke: 2px black;
       color: #0E9B35;
   }

   body{
    background-image: url("Background.png");
    background-repeat: no-repeat;
    background-size: cover;
   }
   .back
   {
   color: white;
   }
   img{
   margin: 25px 8px
   }
   .file{
   background-color: #2551ff; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 25px 8px;
        border-radius:4px;
   }
   .submit {
     background-color: #2551ff; /* Green */
     border: none;
     color: white;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 25px 8px;
     border-radius:4px;
   }
   input{
   border-radius:4px;
   }
   .search{
    padding: 10px 10px 20px 10px;
           opacity: .8;
           background-color: #2551FF;
           width: 1000px;
           margin: auto;
           border-radius:4px;
   }
   .homeSearch[type=text]{
        width:85%;
        padding: 6px 10px;
        border: 2px solid gray;
        border-radius: 4px;
   }
   .searchButton {
        background-color: #2551ff; /* Green */
        border: none;
        color: white;
        padding: 6px 18px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 15px 8px;
        border: 2px solid white;
        border-radius:4px;
      }
   .loginBody{

   }
   .div-content {
       padding: 10px 10px 20px 10px;
       background: rgba(37,81,255,0.6);
       color: black;
       width: 400px;
       margin: auto;
       border-radius:5px;
   }

   header h2
   {
       margin: 0;
       font-size: 18px;
       padding: 0 0 0 0;
       color: white;
   }

   .myPanel
   {
       margin:2%;
       display:inline-block;
       background: #0E9B35;
       border: 1px solid #000000;
       border-radius: 5px 5px 5px 5px;
       padding: 0 0 10px 10px;
       color: #000000;
   }
   
   .body
   {
       background: #fdfff3;
       border: 0.5px solid;
       border-radius: 5px 5px 5px 5px;
       color: #000000;
       padding: 0 10px 0 0;
   }
   .field
   {
       margin: 1%;
       background: #fdfff3;
       border: 0.1px solid #000000;
       border-radius: 5px 5px 0 0;
       border-radius: 5px 5px 0 0;
       color: #000000;
       padding: 10px 20px;
   }
   .page
   {
       margin: 1%;
       background: #ffffff;
       border: 0.1px solid #000000;
       border-radius: 5px 5px 0 0;
       border-radius: 5px 5px 0 0;
       color: #000000;
       padding: 10px 20px;
   }
   .pic
   {
       width: 512px;
       height: 386px;
       background: #000000;
       border-radius: 5px 5px 5px 5px;
       padding: 5px;
   }
   .result
   {
       padding: 10px 10px 20px 10px;
       background: rgba(37,81,255,0.8);
       color: black;
       width: 1000px;
       margin: auto;
       border-radius:5px;
   }
   .person
   {
       width: 60%;
       height: 15px;
       border: 1px solid black;
       background-color: #ffffff;
       border-radius: 1px;
       padding: 25px;
       margin: auto;
   }
   .create-data{
        padding: 10px 10px 20px 10px;
          background: rgba(37,81,255,0.8);
          color: black;
          width: 540px;
          margin: auto;
          border-radius:5px;
   }
   .grade-select{
        width: 35px;
        padding: 0px 0px 0px 0px;
   }
   .in{
    width: 227px;
   }
   .selectClasses
   {
       padding: 10px 10px 250px 10px;
       background: rgba(37,81,255,0.8);
       color: black;
       width: 540px;
       margin: auto;
       border-radius:5px;
   }
   .wumbo
   {
       border: 1px solid black;
       background-color: #ffffff;
       border-radius: 7px;
       padding: 25px;
       display: inline;
       margin: auto;
   }
   .mayitakeyourhatsir
   {
   background-color: #ffffff;
   color: black;
   font-size:22px
   }

   .userClasses
   {
          padding: 10px 10px 10px 10px;
          background: rgba(37,81,255,0.8);
          color: black;
          font-size: 22px;
          width: 600px;
          margin: 30px auto 30px auto;
          border-radius:5px;
   }
   .contact
   {
   padding: 50px 10px 10px 20px
   }
   .test
   {
        display:inline;
        float:left;
        margin:5px;
   }