
   header h1
   {
       margin: 0;
       display: inline;
       font-size: 400%;
       padding: 0 0 0 10px;
       -webkit-text-stroke: 2px black;
       color: #0E9B35;
   }

   body{
    background-image: url("Background.png");
    background-repeat: no-repeat;
    background-size: cover;

   }
   img{
   margin: 25px 8px
   }
   .submit {
     background-color: #009628; /* Green */
     border: none;
     color: white;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 25px 8px;
     border-radius:4px;
   }
   input{
   border-radius:4px;
   }
   .search{
    padding: 10px 10px 20px 10px;
           opacity: .86;
           background-color: #009628;
           width: 1000px;
           margin: auto;
           border-radius:4px;
   }
   .homeSearch[type=text]{
        width:85%;
        padding: 6px 10px;
        border: 2px solid gray;
        border-radius: 4px;
   }
   .searchButton {
        background-color: #009628; /* Green */
        border: none;
        color: white;
        padding: 6px 18px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 15px 8px;
        border: 2px solid white;
        border-radius:4px;
      }
   .loginBody{

   }
   .div-content {
       padding: 10px 10px 20px 10px;
       background: rgba(0,150,40,0.6);
       color: black;
       width: 400px;
       margin: auto;
       border-radius:5px;
   }

   header h2
   {
       margin: 0;
       font-size: 18px;
       padding: 0 0 0 0;
       color: white;
   }

   .myPanel
   {
       margin:2%;
       display:inline-block;
       background: #0E9B35;
       border: 1px solid #000000;
       border-radius: 5px 5px 5px 5px;
       padding: 0 0 10px 10px;
       color: #000000;
   }
   
   .body
   {
       background: #fdfff3;
       border: 0.5px solid #;
       border-radius: 5px 5px 5px 5px;
       color: #000000;
       padding: 0 10px 0 0;
   }
   .field
   {
       margin: 1%;
       background: #fdfff3;
       border: 0.1px solid #000000;
       border-radius: 5px 5px 0 0;
       border-radius: 5px 5px 0 0;
       color: #000000;
       padding: 10px 20px;
   }
   .page
   {
       margin: 1%;
       background: #ffffff;
       border: 0.1px solid #000000;
       border-radius: 5px 5px 0 0;
       border-radius: 5px 5px 0 0;
       color: #000000;
       padding: 10px 20px;
   }
   .pic
   {
       width: 512px;
       height: 386px;
       background: #000000;
       border-radius: 5px 5px 5px 5px;
       padding: 5px;
   }
   .result
   {
       padding: 10px 10px 20px 10px;
       background: rgba(0,150,40,0.8);
       color: black;
       width: 1000px;
       margin: auto;
       border-radius:5px;
   }
   .person
   {
       width: 60%;
       height: 30px;
       border: 1px solid black;
       background-color: #ffffff;
       border-radius: 7px;
       padding 25px;
       margin: auto;
   }
   .selectClasses
   {
       border: 1px solid black;
       background-color: #ffffff;
       border-radius: 7px;
       padding 25px;
       margin: auto;
   }
   .wumbo
   {
       border: 1px solid black;
       background-color: #ffffff;
       border-radius: 7px;
       padding 25px;
       display: inline;
       margin: auto;
   }