<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<h1>Create an Account</h1>

<nav th:replace="fragments :: navigation"></nav>
<body>
<div class="container">
    <form method="post">
        <div>
            <label id="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required="required"/>
        </div>
        <div>
            <label id="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required="required"/>
        </div>
        <div>
            <label id="grade"><b>Grade</b></label>
            <input type="number" placeholder="9" name="grade" min="9" max="12" required="required"/>
        </div>
        <div>
            <label id="contact"><b>Email</b></label>
            <input type="text" placeholder="Enter Contact Email" name="contact" required="required"/>
        </div>
        <div>
            <label id="fname"><b>First Name</b></label>
            <input type="text" placeholder="Enter First Name" name="fname"/>
        </div>
        <div>
            <label id="lname"><b>Last Name</b></label>
            <input type="text" placeholder="Enter Last Name" name="lname"/>
        </div>
        <div>
            <label id="classes"><b>Could you help others with any classes?</b></label>
            <input type="text" placeholder="Classes" name="classes"/>
        </div>
        <div>
            <button type="submit">Create</button>
        </div>
    </form>
</div>
</body>
</html>