<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<nav th:replace="fragments :: navigation"></nav>
<body>
<div class="container">
    <p align="center">
        <img src="http://localhost:8080/css/lhsConnections.png" alt="m" width="200"/>
    </p>
    <form method="post">
        <div class="create-data">
            <div>
                <h2 align="center">Create an Account</h2>
            </div>
            <div>
                <p align="center">
                    <label id="uname"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="uname" required="required"/>
                </p>
            </div>
            <div>
                <p align="center">
                    <label id="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required="required"/>
                </p>
            </div>
            <div>
                <p align="center">
                    <label id="grade"><b>Grade</b></label>
                    <input type="number" placeholder="9" name="grade" min="9" max="12" required="required"/>
                </p>
            </div>
            <div>
                <p align="center">
                    <label id="contact"><b>Email</b></label>
                    <input type="text" placeholder="Enter Contact Email" name="contact" required="required"/>
                </p>
            </div>
            <div>
                <p align="center">
                    <label id="fname"><b>First Name</b></label>
                    <input type="text" placeholder="Enter First Name" name="fname"/>
                </p>
            </div>
            <div>
                <p align="center">
                    <label id="lname"><b>Last Name</b></label>
                    <input type="text" placeholder="Enter Last Name" name="lname"/>
                </p>
            </div>
        </div>
        <div class="selectClasses">
            <h3 align="center">Could you help with any classes?</h3>

            <div class="test">
                <p class="mayitakeyourhatsir">Science</p>
                <div>
                    <input id="Physics" name="classes" type="checkbox" value="physics"/>
                    <label for="Physics">Physics</label>
                </div>
                <div>
                    <input id="Chemistry" name="classes" type="checkbox" value="chemistry"/>
                    <label for="Chemistry">Chemistry</label>
                </div>
                <div>
                    <input id="Biology" name="classes" type="checkbox" value="biology"/>
                    <label for="Biology">Biology</label>
                </div>
                <div>
                    <input id="Environmental-Science" name="classes" type="checkbox" value="Environmental-Science"/>
                    <label for="Environmental-Science">Environmental Science</label>
                </div>
                <div>
                    <input id="Physical-Science" name="classes" type="checkbox" value="Physical-Science"/>
                    <label for="Physical-Science">Physical Science</label>
                </div>
            </div>
            <div class="test">
                <p class="mayitakeyourhatsir">Math</p>
                <div>
                    <input id="Algebra" name="classes" type="checkbox" value="Algebra"/>
                    <label for="Algebra">Algebra</label>
                </div>
                <div>
                    <input id="Geometry" name="classes" type="checkbox" value="Geometry"/>
                    <label for="Geometry">Geometry</label>
                </div>
                <div>
                    <input id="Statistics" name="classes" type="checkbox" value="Statistics"/>
                    <label for="Statistics">Statistics</label>
                </div>
                <div>
                    <input id="Trigonometry" name="classes" type="checkbox" value="Trigonometry"/>
                    <label for="Trigonometry">Trigonometry</label>
                </div>
                <div>
                    <input id="Precalculus" name="classes" type="checkbox" value="Precalculus"/>
                    <label for="Precalculus">Precalculus</label>
                </div>
                <div>
                    <input id="Calculus" name="classes" type="checkbox" value="Calculus"/>
                    <label for="Calculus">Calculus</label>
                </div>

            </div>
            <div class="test">
                <p class="mayitakeyourhatsir">Language Arts</p>
                <div>
                    <input id="General English" name="classes English" type="checkbox" value="General English"/>
                    <label for="General English">General English</label>
                </div>
                <div>
                    <input id="Literature" name="classes" type="checkbox" value="Literature"/>
                    <label for="Literature">Literature</label>
                </div>
                <div>
                    <input id="Language" name="classes" type="checkbox" value="Language"/>
                    <label for="Language">Language</label>
                </div>
            </div>
        </div>
        <div class="selectClasses">
            <div class="test">
                <p class="mayitakeyourhatsir">Social Studies</p>
                <div>
                    <input id="World History" name="classes" type="checkbox" value="World History"/>
                    <label for="World History">World History</label>
                </div>
                <div>
                    <input id="U.S. History" name="classes" type="checkbox" value="U.S. History"/>
                    <label for="U.S. History">U.S. History</label>
                </div>
                <div>
                    <input id="Government" name="classes" type="checkbox" value="Government"/>
                    <label for="Government">Government</label>
                </div>
                <div>
                    <input id="Human Geography" name="classes" type="checkbox" value="Human Geography"/>
                    <label for="Human Geography">Human Geography</label>
                </div>
                <div>
                    <input id="Global Politics" name="classes" type="checkbox" value="Global Politics"/>
                    <label for="Global Politics">Global Politics</label>
                </div>
                <div>
                    <input id="Psychology" name="classes" type="checkbox" value="Psychology"/>
                    <label for="Psychology">Psychology</label>
                </div>
                <div>
                    <input id="Sociology" name="classes" type="checkbox" value="Sociology"/>
                    <label for="Sociology">Sociology</label>
                </div>
            </div>
            <div class="test">
                <p class="mayitakeyourhatsir">Foreign Language</p>
                <div>
                    <input id="Spanish" name="classes" type="checkbox" value="Spanish"/>
                    <label for="Spanish">Spanish</label>
                </div>
                <div>
                    <input id="French" name="classes" type="checkbox" value="French"/>
                    <label for="French">French</label>
                </div>
                <div>
                    <input id="German" name="classes" type="checkbox" value="German"/>
                    <label for="German">German</label>
                </div>
            </div>
            <div class="test">
                <p class="mayitakeyourhatsir">Engineering</p>
                <div>
                    <input id="Engineering Principles" name="classes" type="checkbox"
                           value="Engineering Principles"/>
                    <label for="Engineering Principles">Engineering Principles</label>
                </div>
                <div>
                    <input id="Architecture" name="classes" type="checkbox" value="Architecture"/>
                    <label for="Architecture">Architecture</label>
                </div>
                <div>
                    <input id="Digital Electronics" name="classes" type="checkbox"
                           value="Digital Electronics"/>
                    <label for="Digital Electronics">Digital Electronics</label>
                </div>
                <div>
                    <input id="Networking" name="classes" type="checkbox" value="Networking"/>
                    <label for="Networking">Networking</label>
                </div>
                <div>
                    <input id="Web Design" name="classes" type="checkbox" value="Web Design"/>
                    <label for="Web Design">Web Design</label>
                </div>
                <div>
                    <input id="Programming" name="classes" type="checkbox" value="Programming"/>
                    <label for="Programming">Programming</label>
                </div>
            </div>
            <input type="hidden" name="classes"/>
            <div align="left">
                <button type="submit">Create</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>