<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<nav th:replace="fragments :: navigation"></nav>
<body>
<div class="container">
    <p align="center">
        <img src="http://localhost:8080/css/lhsConnections.png" alt="m" width="200"/>
    </p>
    <form method="post">
        <div class = "create-data">
            <div>
                <h2 align = "center">Create an Account</h2>
            </div>
        <div>
            <p align = "center">
            <label id="uname" ><b>Username</b></label>
            <input class = "in" type="text" placeholder="Enter Username" name="uname" required="required"/>
            </p>
        </div>
        <div>
            <p align = "center">
            <label id="psw"><b>Password</b></label>
            <input class = "in" type="password" placeholder="Enter Password" name="psw" required="required"/>
            </p>
        </div>
        <div>
            <p align = "center">
            <label id="grade"><b>Grade</b></label>
            <input class = "grade-select" type="number" placeholder="#" name="grade" min="9" max="12" required="required"/>
            <label id="contact"><b>Email</b></label>
            <input type="text" placeholder="Enter Contact Email" name="contact" required="required"/>
            </p>
        </div>
        <div>
            <p align = "center">
            <label id="fname"><b>First Name</b></label>
            <input class = "in" type="text" placeholder="Enter First Name" name="fname"/>
            </p>
        </div>
        <div>
            <p align = "center">
            <label id="lname"><b>Last Name</b></label>
            <input class = "in" type="text" placeholder="Enter Last Name" name="lname"/>
            </p>
        </div>
        </div>
        <div class="selectClasses">
            <h3 align="center">Could you help with any classes?</h3>
            <div class="test">
               <p class="mayitakeyourhatsir">Science</p>
                <div>
                    <input id="Physics" name="physics" type="checkbox" value="physics"/>
                    <label for="physics">Physics</label>
                </div>
                <div>
                    <input id="Chemistry" name="chemistry" type="checkbox" value="chemistry"/>
                    <label for="Chemistry">Chemistry</label>
                </div>
                <div>
                    <input id="Biology" name="biology" type="checkbox" value="biology"/>
                    <label for="biology">Biology</label>
                </div>
                <div>
                    <input id="environmental-science" name="envSci" type="checkbox" value="Environmental Science"/>
                    <label for="environmental-science">Environmental Science</label>
                </div>
                <div>
                    <input id="Physical Science" name="Physical Science" type="checkbox" value="Physical Science"/>
                    <label for="Physical Science">Physical Science</label>
                </div>
            </div>
            <div class="test">
                <p class="mayitakeyourhatsir">Mathematics</p>
                <div>
                    <input id="Algebra" name="Algebra" type="checkbox" value="Algebra"/>
                    <label for="Algebra">Algebra</label>
                </div>
                <div>
                    <input id="Geometry" name="Geometry" type="checkbox" value="Geometry"/>
                    <label for="Geometry">Geometry</label>
                </div>
                <div>
                    <input id="Statistics" name="Statistics" type="checkbox" value="Statistics"/>
                    <label for="Statistics">Statistics</label>
                </div>
                <div>
                    <input id="Trigonometry" name="Trigonometry" type="checkbox" value="Trigonometry"/>
                    <label for="Trigonometry">Trigonometry</label>
                </div>
                <div>
                    <input id="Precalculus" name="Precalculus" type="checkbox" value="Precalculus"/>
                    <label for="Precalculus">Precalculus</label>
                </div>
                <div>
                    <input id="Calculus" name="Calculus" type="checkbox" value="Calculus"/>
                    <label for="Calculus">Calculus</label>
                </div>

            </div>
            <div class="test">
                <p class="mayitakeyourhatsir">Language Arts</p>
               <div>
                    <input id="General English" name="General English" type="checkbox" value="General English"/>
                    <label for="General English">General English</label>
                </div>
                <div>
                    <input id="Literature" name="Literature" type="checkbox" value="Literature"/>
                    <label for="Literature">Literature</label>
                </div>
                <div>
                    <input id="Language" name="Language" type="checkbox" value="Language"/>
                    <label for="Language">Language</label>
                </div>
            </div>
        </div>
        <div class="selectClasses">
            <div class="test">
                <p class="mayitakeyourhatsir">Social Studies</p>
               <div>
                    <input id="World History" name="World History" type="checkbox" value="World History"/>
                    <label for="World History">World History</label>
                </div>
                <div>
                    <input id="U.S. History" name="U.S. History" type="checkbox" value="U.S. History"/>
                    <label for="U.S. History">U.S. History</label>
                </div>
                <div>
                    <input id="Government" name="Government" type="checkbox" value="Government"/>
                    <label for="Government">Government</label>
                </div>
                <div>
                    <input id="Human Geography" name="Human Geography" type="checkbox" value="Human Geography"/>
                    <label for="Human Geography">Human Geography</label>
                </div>
                <div>
                    <input id="Global Politics" name="Global Politics" type="checkbox" value="Global Politics"/>
                    <label for="Global Politics">Global Politics</label>
                </div>
                <div>
                    <input id="Psychology" name="Psychology" type="checkbox" value="Psychology"/>
                    <label for="Psychology">Psychology</label>
                </div>
                <div>
                    <input id="Sociology" name="Sociology" type="checkbox" value="Sociology"/>
                    <label for="Sociology">Sociology</label>
                </div>
            </div>
            <div class="test">
                <p class="mayitakeyourhatsir">Foreign Language</p>
                <div>
                    <input id="Spanish" name="Spanish" type="checkbox" value="Spanish"/>
                    <label for="Spanish">Spanish</label>
                </div>
                <div>
                    <input id="French" name="French" type="checkbox" value="French"/>
                    <label for="French">French</label>
                </div>
                <div>
                    <input id="German" name="German" type="checkbox" value="German"/>
                    <label for="German">German</label>
                </div>
            </div>
            <div class="test">
                <p class="mayitakeyourhatsir">Engineering</p>
                <div>
                    <input id="Engineering Principles" name="Engineering Principles" type="checkbox" value="Engineering Principles"/>
                    <label for="Engineering Principles">Engineering Principles</label>
                </div>
                <div>
                    <input id="Architecture" name="Architecture" type="checkbox" value="Architecture"/>
                    <label for="Architecture">Architecture</label>
                </div>
                <div>
                    <input id="Digital Electronics" name="Digital Electronics" type="checkbox" value="Digital Electronics"/>
                    <label for="Digital Electronics">Digital Electronics</label>
                </div>
                <div>
                    <input id="Networking" name="Networking" type="checkbox" value="Networking"/>
                    <label for="Networking">Networking</label>
                </div>
                <div>
                    <input id="Web Design" name="Web Design" type="checkbox" value="Web Design"/>
                    <label for="Web Design">Web Design</label>
                </div>
                <div>
                    <input id="Programming" name="Programming" type="checkbox" value="Programming"/>
                    <label for="Programming">Programming</label>
                </div>
            </div>
        </div>
        <input type="hidden" name="_favoriteFrameworks" value="on"/>
        <div>
            <p align = "center">
            <button class = "submit" type="submit">Create</button>
            </p>
        </div>
    </form>
</div>
</body>
</html>