<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"> </head>
<nav th:replace="fragments :: navigation"> </nav>
<body>
<h1 align = "center" style ="color:#ffffff">Scotsman Inventory Manager</h1>
<form method="post" class="search">
    <div>
        <div align = "center">
        <select id = "sortBy" class="field" name = "sortBy">
            <option value = "0">Sort By...</option>
            <option value = "0"> Serial Number </option>
            <option value = "1"> Model Number </option>
            <option value = "2"> Cost </option>
            <option value = "3"> Price </option>
            <option value = "4"> Dollar Variance </option>
            <option value = "5"> Invoice Sold On </option>
            <option value = "6"> Sold To </option>
            <option value = "7"> Shipped To </option>
            <option value = "8"> Warranty Start Date </option>
            <option value = "9"> Spiff To </option>
            <option value = "10"> Spiff </option>
            <option value = "11"> Freight In </option>
            <option value = "12"> Freight Out </option>
        </select>
        <p>
            <button class="searchButton" type="submit">Sort</button>
        </p>
        </div>
        <h3 align = "center" style = "color:#000000">Items</h3>
            <table align = "center" th:unless="${#lists.isEmpty(Items)}">
                    <th align = "center" style="color:#ffffff">Serial Number</th>
                    <th align = "center" style="color:#ffffff">Model Number</th>
                    <th align = "center" style="color:#ffffff">Cost</th>
                    <th align = "center" style="color:#ffffff">Price</th>
                    <th align = "center" style="color:#ffffff">Dollar Variance</th>
                    <th align = "center" style="color:#ffffff">Invoice Sold On</th>
                    <th align = "center" style="color:#ffffff">Sold To</th>
                    <th align = "center" style="color:#ffffff">Shipped To</th>
                    <th align = "center" style="color:#ffffff">Warranty Start</th>
                    <th align = "center" style="color:#ffffff">Spiff To </th>
                    <th align = "center" style="color:#ffffff">Spiff </th>
                    <th align = "center" style="color:#ffffff">Freight In</th>
                    <th align = "center" style="color:#ffffff">Freight Out</th>
                <tr th:each="item:${Items}">
                    <td align = "center" class="person"><a th:href="@{'/items/' + ${item.getSerNum()}}" th:text="${item.getSerNum()}"> </a></td>
                    <td align = "center" class="person"><p th:text="${item.getModelNum()}"> </p></td>
                    <td align = "center" class="person"><p th:text="${item.getCost()}"> </p></td>
                    <td align = "center" class="person"><p th:text="${item.getPrice()}"> </p></td>
                    <td align = "center" class="person"><p th:text="${item.getDollarVar()}"> </p></td>
                    <td align = "center" class="person"><p th:text="${item.getInvSoldOn()}"> </p></td>
                    <td align = "center" class="person"><p th:text="${item.getSoldTo()}"> </p></td>
                    <td align = "center" class="person"><p th:text="${item.getShippedTo()}"> </p></td>
                    <td align = "center" class="person"><p th:text="${item.getWarrantyStart()}"> </p></td>
                    <td align = "center" class="person"><p th:text="${item.getSpiff()}"> </p></td>
                    <td align = "center" class="person"><p th:text="${item.getSpiffTo()}"> </p></td>
                    <td align = "center" class="person"><p th:text="${item.getFreightIn()}"> </p></td>
                    <td align = "center" class="person"><p th:text="${item.getFreightOut()}"> </p></td>
                </tr>
            </table>
    </div>
    <p align = "center">
        <br/>
    <a style="color:#ffffff" href="/items/add">Add New Item?</a>
    </p>
</form>

<br/><br/>
<div align = "center">
<form method="POST" action="/home/upload" enctype="multipart/form-data">
    <input type="file" value="Choose File To Upload" name="file" />
    <input type="submit" value="Submit" />
</form>
    <br/><br/>
<form method="POST" action="/home/download">
    <input type="submit" value="Download Data As CSV" />
</form>
</div>
</body>
</html>