<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<nav th:replace="fragments :: navigation"></nav>
<body>
<p align="center">
    <img src="http://localhost:8080/css/lhsConnections.png" alt="m" width="200"/>
</p>
<form method="post" class="search">
    <div>
        <p align="center">
            <label id="searchParam"><b>Search for a class you need help with</b></label>
        </p>
    </div>
    <div>
        <p align="center">
            <input class="homeSearch" type="text" placeholder="Enter Class" name="searchParam"/>
            <div>
        <p align="center">
            <button class="searchButton" type="submit">Search</button>
        </p>
    </div>
    </p>
    </div>


</form>

<div class="result" align="center">
    <h4 align = "center">Search Results</h4>
    <table align = "center" th:unless="${#lists.isEmpty(SearchedUsers)}">
            <th>
                <td>Tutor Names</td>
            </th>
        <tr th:each="user:${SearchedUsers}" >
            <td align = "center" class="person"><a th:text="${user.uname}" th:href="@{'home/'+${user.getUserId()}}"> </a></td>
        </tr>
    </table>
    <div th:if="${#lists.isEmpty(SearchedUsers)}">
        <p>No tutors!</p>
    </div>
</div>
</body>
</html>