<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<p align = "center">
<h1 align = "center" style ="color:#ffffff">Scotsman Inventory Manager</h1>
</p>
<div>
    <form method="post">
        <div align="center" class="div-content">
            <div>
                <h2 class="header">
                    LOGIN
                </h2>
            </div>
            <div>
                <p>
                    <div>
                    <label id="uname"><b>Username</b></label>
            </div>
                    <input type="text" placeholder="Enter Username" name="uname" required="required"/>
                </p>
            </div>
            <div>
                <p align="center">
                    <div>
                    <label id="psw"><b>Password</b></label>
            </div>
                    <input type="password" placeholder="Enter Password" name="psw" required="required"/>
                </p>
            </div>

        </div>
        <div align="center" class="login-button">
        <p>
            <button class="submit" type="submit">Login</button>
        </p>
        <div>
            <p>
                <a href="create" style="color:white">Don't have an account?</a>
            </p>
        </div>
        </div>
    </form>
</div>
</body>
</html>