<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<!--<head class="header">-->
    <!--<meta charset="UTF-8"/>-->
    <!--<title class="header h1">LHS CONNECTIONS - LOGIN</title>-->
<!--</head>-->
<nav th:replace="fragments :: navigation"></nav>
<body class="body">
<div class="container body-content">
    <form method="post">
        <div align="center" class="div-content">
            <div>
                <h1 class="header">
                    LHS CONNECTIONS - LOGIN
                </h1>
            </div>
            <div>
                <p>
                    <label id="uname"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="uname" required="required"/>
                </p>
            </div>
            <div>
                <p align="center">
                    <label id="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required="required"/>
                </p>
            </div>
            <p>
                <button type="submit">Login</button>
            </p>
            <div>
                <p>
                    <a href="create">Don't have an account?</a>
                </p>
            </div>
        </div>
    </form>
</div>
</body>
</html>