body
{
    margin: 0;
    background-color: #666; 
}
header
{
    background: #666;
    color: white;
    padding: 15px 15px 0 15px;
}
header h1
{
    margin: 0;
    display: inline;
    font-size: 400%;
    padding: 0 0 0 10px;
    -webkit-text-stroke: 2px black;
    color: #0E9B35;
}
header h2
{
    margin: 0;
    display: inline;
    font-size: 18px;
    padding: 0 0 0 0;
    color: white;
}
nav ul
{
    margin: 0;
    padding: 0 0 0 0;
    display: inline;
}
nav ul li
{
    color: white;
    display: inline-block;
    list-style-type: none;
}
nav ul li h2
{
    font-size: 48px;
    -webkit-text-stroke: 1.5px black;
    color: white;
}
nav ul li a
{
    font-size: 16px;
    padding: 0 0 0 10px;
    color: white;
}
.myPanel .heading
{
    background: #0E9B35;
    border: 0.1px solid #000000;
    border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    color: #000000;
    padding: 10px 20px;
}
.body
{
    background: #276237;
    border: 0.1px solid #000000;
    color: #000000;
}
.login
{
    margin: 5%;
    background: #ffffff;
    border: 0.1px solid #000000;
    border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    color: #000000;
    padding: 10px 20px;
}
.field
{
    margin: 1%;
    background: #0E9B35;
    border: 0.1px solid #000000;
    border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    color: #000000;
    padding: 10px 20px;
}
.page
{
    background: #ffffff;
    border: 0.1px solid #000000;
    border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    color: #000000;
    padding: 10px 20px;
}
